PREFECT_API_URL="http://localhost:4200/api"
LOGDIR="logs"
GOOGLE_APPLICATION_CREDENTIALS="/path/to/dummy.json"
PREFECT_API_TIMEOUT=30
PREFECT_API_RETRY=false
PREFECT_API_RETRY_DELAY=3
# git branch prefect-proxy deploys flows from; set to a feature branch on staging
PREFECT_PROXY_GIT_BRANCH=main


# Sentry
SENTRY_DSN=
# trace sampling rate
SENTRY_TSR=
# profile sampling rate
SENTRY_PSR=

