active = "default"

[profiles.default]
PREFECT_API_URL =
PREFECT_API_DATABASE_PASSWORD =
PREFECT_API_DATABASE_CONNECTION_URL =
PREFECT_SQLALCHEMY_POOL_SIZE = "10"
PREFECT_API_DATABASE_CONNECTION_TIMEOUT = "60"
PREFECT_API_DATABASE_TIMEOUT = "60"
PREFECT_API_DEFAULT_LIMIT = "500"
PREFECT_API_SERVICES_CANCELLATION_CLEANUP_ENABLED = "False"
PREFECT_API_SERVICES_EVENT_PERSISTER_ENABLED = "False"
PREFECT_API_SERVICES_FOREMAN_LOOP_SECONDS = "15"
PREFECT_API_SERVICES_CANCELLATION_CLEANUP_LOOP_SECONDS = "120"
PREFECT_API_SERVICES_LATE_RUNS_LOOP_SECONDS = "5"
PREFECT_API_SERVICES_LATE_RUNS_AFTER_SECONDS = "0:00:45"
PREFECT_API_SERVICES_FOREMAN_DEPLOYMENT_LAST_POLLED_TIMEOUT_SECONDS = "60"
PREFECT_API_SERVICES_FOREMAN_WORK_QUEUE_LAST_POLLED_TIMEOUT_SECONDS = "60"
PREFECT_TASK_RUN_TAG_CONCURRENCY_SLOT_WAIT_SECONDS = "100"
PREFECT_API_REQUEST_TIMEOUT = "180"
PREFECT_SERVER_UI_V2_ENABLED = "true"
